$color: #fff;
$sectionTxtClr: #293249;

body {
	font-family: Arial;
	/*min-width: 320px;*/
}

.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	right: 0;
	background: $color;
	z-index: 1000500;

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 128px;
		width: 128px;
		background: url("../img/preloader.gif") no-repeat;
		margin-left: -30px;
		margin-top: -30px;
	}
}

section {
	padding-top: 70px;
	color: $sectionTxtClr;

	.header {
		$lineWidth: 250px;
		$lineColor: rgba(236, 93, 89, 0.66);
		text-align: center;
		margin-bottom: 40px;

		.head{
			display: inline-block;
			border-top: 1px solid $lineColor;
			border-bottom: 1px solid $lineColor;
			padding: 17px 0;
			color: $sectionTxtClr;
			margin-bottom: 10px;

			span {
				font-size: 21px;
				font-weight: normal;
				line-height: 0;
				}
	
			h2 {
				font-size: 32px;
				line-height: 32px;
				text-transform: uppercase;
				padding: 0 35px;
				margin: 0;             
				}


			&:after {
				content: "";
				height: 1px;
				width: $lineWidth/2;
				background-color: $lineColor;
				position: absolute;
				margin-left: -63px; 
				left: 50%;
				margin-top: 25px;
				}
			}
		}

	.content {      
		/*text-align: center;*/
		p {
			text-align: center;
			font-size: 14px;
			line-height: 18px;
		}   
	}

	.ornament {
		background: url("../img/ornament.svg") no-repeat center;
		background-size: contain;
		-webkit-background-size: contain;
		-o-background-size: contain;
		-moz-background-size: contain;
		width: 100%;
		height: 127px;
		margin-top: 50px;
	}   
}

#main_head {
	min-height: 720px;
.main_mnu {
	display: none;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 10;
	position: fixed;
	text-align: center;

		ul {
			list-style: none;
			margin-top: 180px;
			padding: 0;

			li {
				text-transform: uppercase;
				font-size: 14px;

				a {
					color: $color;
					text-decoration: none;
					display: block;
					position: relative;
					height: 60px;
					outline: none;
					/*padding: 25px 0;*/
					span {
						display: block;
						position: relative;
						top: -39px;
						left: 0;
						height: 100%;
						-webkit-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
						}

					&:hover {
						color: #ec5d59;
				
						span {
							background-color: rgba(216, 206, 196, 0.4);
						}
					}
				}

			}

			.active_nav {
				color: #ec5d59;
			}
		}
	}
		.toggle_mnu {
			background-color: #747c93;/*rgba(216, 206, 196, 0.5);#d8cec4;*/
			border-radius: 5px;
			z-index: 20;
			border: none;
			outline: none;
			width: 50px;
			height: 50px;
			text-align: center;
			position: fixed;
			top: 20px;
			right: 20px;
			
			span {
				display: block;
				}

			&:hover {
				background-color: #586077;/*#d8cec4;*/
				-webkit-transition: background-color 0.3s ease-in-out;
				-o-transition: background-color 0.3s ease-in-out;
				transition: background-color 0.3s ease-in-out;
			}

			/*--------sandwich----------*/
			$w: 32px;
			$h: 3px;
				.sandwich { 
					width: $w;
					height: $w;
					position: absolute;
					top: 10px;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;



					.sw-topper {
						position: relative;
						top: 0;
						width: $w; 
						height: $h;
						background: rgb(255, 255, 255);
						border: none; 
						border-radius: 4px 4px 4px 4px;
						transition: transform 0.5s, top 0.2s;
					}
					/* transition-delay: 0.2s, 0s; */

					.sw-bottom {
						position: relative;
						width: $w;
						height: $h;
						top: $h * 2;
						background: rgb(255, 255, 255);
						border: none;
						border-radius: 4px 4px 4px 4px;
						transition: transform 0.5s, top 0.2s;
						transition-delay: 0.2s, 0s; 
					}

					.sw-footer {
						position: relative;
						width: $w;
						height: $h;
						top: $h * 4;
						background: rgb(255, 255, 255);
						border: none;
						border-radius: 4px 4px 4px 4px;
						transition: all 0.5s;
						transition-delay: 0.1s; 
					}
				}

				.active {
					  .sw-topper {
						top: 10px;
						transform: rotate(140deg);
						}
					  .sw-bottom {
						top: 7px;
						transform: rotate(-140deg);
						}
					  .sw-footer {
						opacity: 0;
						top: 0;
						transform: rotate(180deg);
						}
					}
			/*------------------*/
		}
	}

.top_wrapper {
	display: table;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%; 

	.top_centered {
		display: table-row;

		.description {
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			
			.text_descr {
				display: inline-block;
				color: $color;
				text-transform: uppercase;
				
				h1 {
					font-size: 2.8em;
					padding: 10px 35px;
					border: 6px solid #d8cec4;
					border-radius: 10px;
					margin: 16px;
					background-color: rgba(255, 255, 255, .1);
				}

				p {
					font-size: 15px;
					font-weight: bold;
					margin: 0;
					color: #ec5d59;
					-webkit-animation-delay: 0.5s;
					-o-animation-delay: 0.5s;
					animation-delay: 0.5s;
				}
			}
		}
	}
}


#about {
	.quote {
		background: -moz-linear-gradient(left, rgba(221, 222, 227, .35) 24%, rgba(221, 222, 227, .15) 50%, rgba(221, 222, 227, .35) 100%);
		/*margin: 40px 0;*/
		background: -ms-linear-gradient(left, rgba(221, 222, 227, .35) 24%, rgba(221, 222, 227, .15) 50%, rgba(221, 222, 227, .35) 100%);

		blockquote {
			background: url("../img/quote.png") no-repeat 5px top;
			margin-left: 0;
			border-left: 4px solid #ec5d59;
			color: #ec5d59;
			font-size: 16px;
			font-family: Arial, Georgia, sans-serif;
			font-weight: 400;
			font-style: italic;
			padding: 15px 0 10px 10px;

			p {
				margin-top: 20px;
			}
		}
	}
	.photo {
		text-align: center;
		img {
			border-radius: 50%;
		}
	}
	.wrap_content {
		overflow-y: hidden;
	}
}


#resume {
	overflow-x: hidden;
	table {
		margin-top: 10px;
		tr {
			td {
				vertical-align: top;
				text-align: left;
				padding: 0 10px;

				h3 {
					text-align: right;
					text-transform: uppercase;
					font-weight: bold;
					color: #ec5d59;
					font-size: 14px;
					margin: 0;
				}
				
				p {
					margin-top: 0;
				}

				img {
					width: 50%;
					float: right;
				}
			}
		}
	}

		.download {
			text-align: center;
			margin-top: 40px;

			a {
				text-transform: uppercase;
				color: $color;
				text-decoration: none;
				vertical-align: middle;
				padding: 15px 30px;
				background-color: #ec5d59;
				border-radius: 10px;
				outline: none;          
			}

			.fa {
				padding-right: 10px;
			}
		}
}

#contacts {
	padding-bottom: 70px;
	overflow-x: hidden;

	.main_form {
		text-align: center;
		.form-group {
			display: block;
			margin-bottom: 20px;
			text-indent: 10px;
			float: left;
			width: 100%;
			text-align: left;

			span {
				color: #ec5d59;
			}

			.text-danger {
				display: block;
				font-size: 11px;
				margin-top: 5px;
				color: #ec5d59;

				ul {
					padding: 0;
					margin: 0;
					li {
						list-style: none;
					}
				}

			}
		}

		input, textarea {
			margin-top: 3px;
			border: none;
			outline: 1px solid #d8cec4;
			width: 100%;
			text-indent: 10px;
			line-height: 40px;
			min-height: 40px;
			letter-spacing: 2px;
			font-size: 12px;

			&:focus {
				outline: 1px solid rgba(236, 93, 89, .66);
				border: none;
			}

			&:focus:required:invalid {
				color: rgba(236, 93, 89, .66);
			}
		}

		.btn { 
			display: inline-block;

			button {
				width: 155px;
				height: 40px;
				border: none;
				border-radius: 10px;
				background-color: #ec5d59;
				color: $color;
				text-transform: uppercase;
				float: right;
				letter-spacing: 2px;
			}
		}
	}

	.contacts_links {
		text-align: center;
		margin-top: 40px;

		.contact_box {
			display: inline-block;
			margin: 10px 20px;

			i {
				color: #ec5d59;
				font-size: 30px;
			}

			a {
					text-decoration: none;
					color: $sectionTxtClr;
					font-size: 14px;
					display: block;

					&:hover {
						color: #ec5d59;
					}
				}

			p {
				font-size: 14px;
				margin: 0;
			}
		}
	}
}

.main_footer {
	width: 100%;
	height: 120px;
	/*margin-top: 45px;*/
	background-color: #d8cec4;
	
	p {
		color: $sectionTxtClr;
		margin-top: 55px;
		font-size: 12px;
	}
}
